<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Let's Share</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">

    <link rel="stylesheet" href="lib/css/ionic.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="lib/angular-bootstrap-datetimepicker/src/css/datetimepicker.css" />
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="lib/js/ionic.js"></script>
    <script src="lib/js/angular/angular.js"></script>
    <script src="lib/js/angular-ui/angular-ui-router.js"></script>
    <script src="lib/js/angular/angular-animate.js"></script>
    <script src="lib/js/angular/angular-touch.js"></script>
    <script src="lib/js/angular/angular-sanitize.js"></script>
    <script src="lib/js/ionic-angular.js"></script>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="lib/moment/moment.js"></script>
    <script type="text/javascript" src="lib/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="lib/angular/angular.js"></script>
    <script type="text/javascript" src="lib/angular-bootstrap-datetimepicker/src/js/datetimepicker.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB16sGmIekuGIvYOfNoW9T44377IU2d2Es&sensor=true&region=IN&libraries=places"></script>

    <script src="js/app.js"></script>

</head>

<body ng-app="lets_share" ng-controller="MainCtrl" ng-init="initMapAutoSuggest()">
    <side-menus>
        <!-- Center content -->
        <pane side-menu-content>
            <div id="test" style="height:100%">
                <div>
                    <header class="bar bar-header bar-positive">
                        <button class="button button-icon" ng-click="toggleProjects()">
                            <i class="icon ion-navicon"></i>
                        </button>
                        <h1 class="title"><!-- {{activeProject.title}} -->Lets Share</h1>
                        <!-- New Task button-->
                        
                    </header>
                </div>




                <content has-header="true" style="height:100%">
                    <form name="myform" ng-submit="test(formData)" novalidate class="simple-form">
                        <div class="">
                            <div class="list" id="form">
                                <label class="item item-input">
                                    <input type="text" placeholder="UserId" ng-model="formData.id" name="id" value="1">
                                </label>
                                <label class="item item-input item-floating-label">
                                    <input id="source" type="text" placeholder="From: Marathalli..." ng-model="formData.bookings.from" name="from">
                                </label>
                                <label class="item item-input item-floating-label">
                                    <input ng-enter="generateRoute()" id="destination" type="text" placeholder="To: Domlur..." ng-model="formData.bookings.to" name="to">
                                </label>

                                <ion-content scroll="false" class="clearfix-custom">
                                    <map on-create="mapCreated(map)"></map>
                                </ion-content>
                                

                                <!-- <ion-footer-bar class="bar-stable top-it">
                                    <a ng-click="generateRoute()" class="button button-icon icon ion-navigate"></a>
                                </ion-footer-bar> -->


                                <label class="item item-input">
                                    <!-- <input type="text" placeholder="Date" ng-model="formData.bookings.date" name="date"> -->
                                    <datetimepicker data-ng-model="formData.bookings.datetime" data-on-set-time="onTimeSet"></datetimepicker>
                                </label>
                                <!-- <select ng-model="formData.bookings.cars" name="cars">
          <option value="1" selected>Hatchback</option>
          <option value="2">Sedan</option>
          <option value="3" >SUV</option>
        </select> -->
                                <label class="item">
                                    <div class="button-bar">
                                        <a class="button" ng-class="{'button-positive': isActive('Sedan')}" ng-click="setActive('Sedan')">Sedan</a>
                                        <a class="button" ng-class="{'button-positive': isActive('Hatchback')}" ng-click="setActive('Hatchback')">Hatchback</a>
                                        <a class="button" ng-class="{'button-positive': isActive('SUV')}" ng-click="setActive('SUV')">SUV</a>
                                    </div>
                                </label>
                                <label class="item">
                                    <div class="button-bar">
                                        <a class="button" ng-class="{'button-positive': isActive1('one')}" ng-click="setActive1('one')">1</a>
                                        <a class="button" ng-class="{'button-positive': isActive1('two')}" ng-click="setActive1('two')">2</a>
                                        <a class="button" ng-class="{'button-positive': isActive1('three')}" ng-click="setActive1('three')">3</a>
                                        <a class="button" ng-class="{'button-positive': isActive1('four')}" ng-click="setActive1('four')">4</a>
                                        <a class="button" ng-class="{'button-positive': isActive1('five')}" ng-click="setActive1('five')">5</a>
                                    </div>
                                </label>

                            </div>
                            <ion-footer-bar class="bar-stable">
                                <button class="button button-block button-positive" type="submit">Go</button>
                            </ion-footer-bar>
                        </div>
                    </form>
                </content>
            </div>
        </pane>



        <!-- Left menu -->
        <side-menu side="left">
            <header class="bar bar-header bar-positive">
                <h1 class="title">Menu</h1>
                <button class="button button-icon" ng-click="newProject()">
                    <i class="ion ion-plus"></i>
                </button>
            </header>
            <content has-header="true">
                <list>
                    <item ng-repeat="project in projects" ng-click="selectProject(project, $index)" ng-class="{active: activeProject == project}">
                        {{project.title}}
                    </item>

                </list>
            </content>
        </side-menu>
    </side-menus>

</body>


</html>
