/* Empty. Add your own CSS if you like */
map {
	display: block;
	width: 100%;
	height: 150px;
  
}
.complete {
  text-decoration: line-through;
}

.top-it, ion-footer-bar.top-it {
	z-index: 999;
}

.clearfix-custom {
  display:block; 
  clear: both;

}

.popup-body .datetimepicker {
  min-height: 221px;
}
.popup-body .datetimepicker table {
  width: 100%;
}